<footer class="bg-primary">
  <div class="pt-12 mx-auto w-full">
    <ul class="text-secondary flex justify-center items-center gap-x-5 mb-4">
      <li class="hover:text-primary_hover">
        <a href="#" title="Icono Facebook"
          ><i class="fa-brands fa-facebook fa-2x"></i
        ></a>
      </li>
      <li class="hover:text-primary_hover">
        <a href="#" title="Icono Instagram"
          ><i class="fa-brands fa-instagram fa-2x"></i
        ></a>
      </li>
      <li class="hover:text-primary_hover">
        <a href="#" title="Icono X"
          ><i class="fa-brands fa-x-twitter fa-2x"></i
        ></a>
      </li>
      <li class="hover:text-primary_hover">
        <a href="#" title="Icono Youtube"
          ><i class="fa-brands fa-youtube fa-2x"></i
        ></a>
      </li>
    </ul>

    <div class="flex justify-center items-center mt-10">
      <a href="index.html">
        <img
          class="footer__logo-img"
          src="/src/assets/images/logo-fondo-oscuro.png"
          alt="Logotipo de economia-circular"
          srcset="
            /src/assets/images/logo-fondo-oscuro.png?width=160 1x,
            /src/assets/images/logo-fondo-oscuro.png?width=320 2x,
            /src/assets/images/logo-fondo-oscuro.png?width=500 3x
          "
          width="150"
          height="150"
          loading="lazy"
        />
      </a>
    </div>
    <div
      class="flex flex-col md:flex-row items-center md:items-start justify-center md:justify-around mt-10"
    >
      <div class="flex flex-col items-center justify-center">
        <h3 class="text-black text-2xl font-medium">Enlaces a Páginas</h3>
        <ul
          class="flex flex-col items-center justify-center text-secondary text-center"
        >
          <li class="mt-1"><a href="index.html">Home</a></li>
          <li class="mt-2">
            <a href="index.html">Charlas</a>
          </li>
          <!--  <li class="footer__links-item mt-2">
          <a href="blog.html">Blog</a>
        </li>
        <li class="footer__links-item mt-2">
          <a href="contact.html">Contacto</a>
        </li> -->
        </ul>
      </div>

      <div class="flex flex-col items-center justify-center mt-4 md:mt-0">
        <h3 class="text-black text-2xl font-medium">Términos Legales</h3>
        <ul
          class="flex flex-col items-center justify-center text-secondary text-center"
        >
          <li class="mt-1"><a href="#">Aviso Legal</a></li>
          <li class="mt-2">
            <a href="#">Política de Cookies</a>
          </li>
          <li class="mt-2">
            <a href="#">Política de privacidad</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-10 pb-6">
      <div class="col text-center text-secondary">
        <p class="footer__copyright">2025 &copy; David Pecharromán López</p>
      </div>
    </div>
  </div>
</footer>
